{% extends "pages/page.html" %}

{% load mezzanine_tags staticfiles %}

{% block main %}
                {{ block.super }}

                {% editable page.projectlist.content %}
                {{ page.projectlist.content|richtext_filters|safe }}
                {% endeditable %}

                {% for project in page.projectlist.projects.all %}
                <div class="row">
                    <div class="col-sm-4">
                        <img src="{{ MEDIA_URL }}{{ project.image }}" class="img-responsive"
                             alt="Image for {{ project.title }}"/>
                    </div>
                    <div class="col-sm-8">
                        <h2 class="left">{{ project.title }}</h2>
                        {{ project.content|richtext_filters|safe }}
                    </div>
                </div>
                {% endfor %}
{% endblock %}
